[submodule "app"]
	path = app
	url = git@github.com:jon-grey/module-federation-azure-static-web-app-angular.git
[submodule "api"]
	path = api
	url = git@github.com:jon-grey/sample-app-module-federation-azure-function-api-python.git
